# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# MacOS
.DS_Store

# Data 
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfvars

# IDE
.vscode/
.idea/.env